<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">

    <testsuites>
        <testsuite name="Aws">
            <directory>tests/Aws/Tests</directory>
            <!--
                There are currently issues with:
                ========================================================================================================
                - Anything using the Guzzle `MockPlugin`
                - Something with the `JsonCommand` object
                - PHP's `hash_copy()` in `ChunkHash`
                - Any mock object that (im|ex)plicitly overwrites the final `Client::setConfig()` method
            -->
            <exclude>tests/Aws/Tests/CloudTrail/LogFileIteratorTest.php</exclude>
            <exclude>tests/Aws/Tests/Common/Client</exclude>
            <exclude>tests/Aws/Tests/Common/Command/JsonCommandTest.php</exclude>
            <exclude>tests/Aws/Tests/Common/Credentials</exclude>
            <exclude>tests/Aws/Tests/Common/Facade</exclude>
            <exclude>tests/Aws/Tests/Common/Hash/ChunkHashTest.php</exclude>
            <exclude>tests/Aws/Tests/Common/InstanceMetadata</exclude>
            <exclude>tests/Aws/Tests/Common/Model</exclude>
            <exclude>tests/Aws/Tests/Common/Waiter</exclude>
            <exclude>tests/Aws/Tests/DynamoDb/Iterator</exclude>
            <exclude>tests/Aws/Tests/DynamoDb/Model/BatchRequest</exclude>
            <exclude>tests/Aws/Tests/DynamoDb/Session</exclude>
            <exclude>tests/Aws/Tests/DynamoDb/Waiter</exclude>
            <exclude>tests/Aws/Tests/Ec2/WaiterTest.php</exclude>
            <exclude>tests/Aws/Tests/Glacier/Model</exclude>
            <exclude>tests/Aws/Tests/Glacier/Waiter</exclude>
            <exclude>tests/Aws/Tests/Rds/Waiter</exclude>
            <exclude>tests/Aws/Tests/Route53</exclude>
            <exclude>tests/Aws/Tests/S3</exclude>
            <exclude>tests/Aws/Tests/Sqs</exclude>
        </testsuite>
    </testsuites>

    <!-- Exclude the integration tests in regular unit tests -->
    <groups>
        <exclude>
            <group>integration</group>
            <group>performance</group>
        </exclude>
    </groups>

    <logging>
        <log type="junit" target="build/artifacts/logs/junit.xml" logIncompleteSkipped="false" />
    </logging>

</phpunit>
